# http://www.gnu.org/software/bash/manual/html_node/Readline-Init-File.html
# http://unixhelp.ed.ac.uk/CGI/man-cgi?readline
# re-read the inputrc file with C-x C-r
# get a list of the currently available bindings bind -P

# include system wide settings (ignored if one has their own .inputrc)
$include /etc/inputrc

# If set to ‘on’, Readline displays possible completions using different colors to indicate their file type.
# The color definitions are taken from the value of the LS_COLORS environment variable. The default is ‘off’.
set colored-stats on

# The number of screen columns used to display possible matches when performing completion.
# The value is ignored if it is less than 0 or greater than the terminal screen width.
# A value of 0 will cause matches to be displayed one per line. The default value is -1.
set completion-display-width 1

# If set to ‘on’, Readline performs filename matching and completion in a case-insensitive fashion.
# The default value is ‘off’.
set completion-ignore-case on

# The length in characters of the common prefix of a list of possible completions that is displayed without modification.
# When set to a value greater than zero, common prefixes longer than this value are replaced with an ellipsis when displaying possible completions.
set completion-prefix-display-length 0

# The number of possible completions that determines when the user is asked whether the list of possibilities should be displayed.
# If the number of possible completions is greater than this value, Readline will ask the user whether or not he wishes to view them;
# otherwise, they are simply listed. This variable must be set to an integer value greater than or equal to 0.
# A negative value means Readline should never ask. The default limit is 100.
set completion-query-items 200

# When set to ‘on’, on operating systems that indicate they support it, readline echoes a character corresponding to a signal generated from the keyboard.
# The default is ‘on’. This only works for the command line itself, not if already running a command.
set echo-control-characters off

# Set the maximum number of history entries saved in the history list.
# If set to zero, any existing history entries are deleted and no new entries are saved.
# If set to a value less than zero, the number of history entries is not limited.
# By default, the number of history entries is not limited.
set history-size -1

# If set to ‘on’, completed directory names have a slash appended. The default is ‘on’.
set mark-directories on

# This alters the default behavior of the completion functions.
# If set to ‘on’, words which have more than one possible completion cause the matches to be listed immediately instead of ringing the bell.
# The default value is ‘off’.
set show-all-if-ambiguous on

# This alters the default behavior of the completion functions in a fashion similar to show-all-if-ambiguous.
# If set to ‘on’, words which have more than one possible completion without any possible partial completion (the possible completions don’t share a common prefix)
# cause the matches to be listed immediately instead of ringing the bell. The default value is ‘off’.
set show-all-if-unmodified on

# If set to ‘on’, this alters the default completion behavior when inserting a single match into the line. It’s only active when performing completion in the middle of a word.
# If enabled, readline does not insert characters from the completion that match characters after point in the word being completed, so portions of the word following the cursor are not duplicated.
# For instance, if this is enabled, attempting completion when the cursor is after the ‘e’ in ‘Makefile’ will result in ‘Makefile’ rather than ‘Makefilefile’, assuming there is a single possible completion.
# The default value is ‘off’.
set skip-completed-text on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'.
set input-meta on
set output-meta on
set convert-meta off

# allows to search through history using the up and down arrows
# type "cd" and press the up/down arrow to search through history commands that starts with "cd"
"\e[B": history-search-forward
"\e[A": history-search-backward
